<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Cinema</title>
    <script src="/public/axios.min.js"></script>
</head>

<body>
    <nav class=" mb2">
        <ul>
            <li><a href=" /create">Create</a></li>
            <li class="active"><a href=" /read">Read</a></li>
            <li><a href=" /delete">Delete</a></li>
        </ul>
        <!--<img class="fr logo" src="/images/carved-rock-logo-yellow.png">-->
    </nav>
    <div class="pl4">
        <input type=" text" id="movie-id" class="w-30" /> <button class="p1" id="load">Load</button>
        <div id='results'>
            <h2 class="hidden">Movie Not Found</h2>
            <template id='result'>
                <div id="movie-result">
                    <h1 id="title" class="f-headline lh-solid"></h1>
                    <div class="f1"> $<span id="price" class="yellow"></span>
                    </div>
                    <div class="pv1">
                        <label class="f4">In stock: </label><span id="quantity" class="f5"></span>
                    </div>
                    <div class="pv1">
                        <label class="f4">Color: </label><span id="color" class="f5 ttc"></span>
                    </div>
                    <p id="description" class="f4 mw8"></p>
                </div>
            </template>
            <template id='list-result'>
                <ul id="movie-list">
                    <li>
                        <div id="movie-id" class="id gray"></div>
                        <div id="movie-name" class="f5 dark-blue"></div>
                        <div id="movie-price" class="yellow"></div>
                    </li>
                </ul>
            </template>
        </div>
    </div>
</body>
<footer>
    <script src="../public/read.js"></script>
</footer>

</html>